/* 导航栏 */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 80px;
}
/* 左侧边栏 */
.app-sidebar {
  width: 235px;
  position: fixed;
  top: 80px;
  border-right: solid 1px #dfe6e9;
  height: calc(100% - 90px);
  text-align: center;
  overflow: auto;
}
.app-sidebar::-webkit-scrollbar {
  display: none;
}
/* 主要内容 */
.app-main {
  position: fixed;
  right: 0;
  top: 77px;
  height: calc(100% - 90px);
  width: calc(100% - 250px);
  overflow: auto;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 10px;
}
.app-main::-webkit-scrollbar {
  display: none;
}

@media (max-width: 850px) {
  .app-sidebar {
    display: none;
  }
  .app-main {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 450px) {
  .app-main {
    width: 100%;
    padding: 0 5px;
  }
}
