.center {
  width: calc(100% - 260px);
}
.right {
  position: fixed;
  top: 70px;
  right: 10px;
  width: 250px;
  overflow-y: auto;
}
.right::-webkit-scrollbar {
  display: none;
}
.article-header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.article-title {
  color: #0d1a26;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0;
}
.article-desc {
  color: #555;
}
.article-desc font {
  font-size: 0.8em;
  vertical-align: 1px;
}

/* 右边栏 */
.title li span {
  display: block;
  border-radius: 5px;
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8590a6;
  font-size: 14px;
  transition: 0.5s;
  margin: 3px 3px 0 0;
}
.title li span:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #3742fa;
  border-radius: 6px;
  box-shadow: 3px 4px #DCC6E0;
} 
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.el-divider__text {
  padding: 0 10px;
}
.anchor a:visited {
  color: #40a9ff;
  border-left: 1px solid #40a9ff;
}
/* 右边栏 */

/* 目录锚点 */
.anchor li {
  padding: 3px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8590a6;
  font-size: 14px;
}
.anchor li a {
  width: 100%;
  color: #8590a6;
}
.anchor li:hover a {
  color: #40a9ff; 
}
/* 目录锚点 */

/* 留言 */
.tip {
  font-size: 15px;
  margin-right: 15px;
  color: #6190e8;
}
.comments-header {
  margin-top: 20px;
}
.comments-count {
  color: #40a9ff;
  margin-right: 5px;
}
.comments-list {
  margin-top: 20px;
}
.comment {
  margin-top: -10px;
}
.comment:last-child {
  margin-bottom: 30px;
}
.comment:last-child .el-divider {
  display: none;
}
.comment .el-divider--horizontal {
  margin: 10px 0;
}
.avatar {
  display: inline-block;
  position: relative;
}
.avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 0px;
}
.author {
  width: 100%;
  display: inline;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 15px;
}
.comment-time {
  vertical-align: 13px;
  margin-left: 15px;
}
.comment-content {
  display: block;
  color: #555555;
  padding: 10px 15px
}
.comment-btn {
  display: block;
  margin-left: 55px;
  float: right;
}
/* 留言 */

/* 抽屉按钮 */
.drawer {
  display: none;
  position: fixed;
  top: 90px;
  /* -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0.2, 0.3); */
  box-shadow: 2px 0 8px rgba(0, 0, 0, .3);
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 45px;
  background: #fff;
}

/* 温馨提示 */
.tips {
  font-weight: bold;
  color: #f8442c;
}

@media (max-width: 1200px) {
  .right {
    display: none;
  }
  /* 右边抽屉按钮 */
  .rightD {
    display: block;
    right: -1px;
    border-radius: 4px 0 0 4px;
  }
  .center {
    width: 100%;
  }
  .editormd-html-preview, .editormd-preview-container {
    padding: 20px 0px;
  }
  .article-main {
    padding: 0px 15px;
  }
  .article-comments {
    padding: 0px 15px;
  }
  .comments-list {
    padding: 0px 15px;
  }
}

@media (max-width: 600px) { 
  .post-time {
    display: block;
    margin-bottom: 5px;
  }
  .article-main {
    padding: 0px 5px;
  }
  .article-comments {
    padding: 0px 5px;
  }
  .comments-list {
    padding: 0px 5px;
  }
  .comment:last-child {
    margin-bottom: 0px;
  }
  .editormd-html-preview, .editormd-preview-container {
    padding: 10px 0px;
  }
  .el-divider--horizontal {
    margin: 3px;
  }
}

@media (max-width: 450px) {
  .article-title {
    font-size: 1.3em;
  }
  .tip {
    font-size: 13px;
  }
}