.box {
  background: aliceblue;
  width: 80%;
  margin: 40px auto;
  padding: 5px 30px 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2)
}
.tags-text {
  color: #3c4858;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.tag-group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.el-tag {
  margin: 12px;
  transition: 0.5s;
}
.el-tag:hover {
  transform: scale(1.3);
}
.el-tag >>> .el-badge__content.is-fixed {
  top: -3px;
  right: 2px;
}
.el-badge {
  vertical-align: baseline;
}
.link-font {
  font-size: 15px;
}

/* 友情链接 */
a {
  text-decoration: none;
}
.friendly {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding-top: 15px;
  text-align: center;
  border: 1px solid #dee1e6;
  border-radius: 10%;
  transition: all 0.2s linear;
  margin: 5px;
}
.friendly:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  transform: translate(0, -2px);
}
.friendly img {
  width: 55%;
  height: auto;
  border-radius: 50%;
}
.friendly .title {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 449px) {
  .box {
    width: 90%;
    margin: 10px auto;
    padding: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: white;
  }
  .tags-text {
    font-size: 1.1rem;
  }
  .tags-text svg {
    width: 25px;
    height: 25px;
  }
  .el-tag {
    margin: 6px;
  }
  .link-font {
    font-size: 12px;
  }
  /* 友情链接 */
  .friendly {
    margin: 3px;
  }
}

@media (max-width: 300px) {
  .box {
    width: 100%;
    margin: 10px 0px;
  }
}