.center {
  width: calc(100% - 260px);
}
.right {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 250px;
  overflow-y: auto;
  height: calc(100vh - 90px);
}
.right::-webkit-scrollbar {
  display: none;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.article-list-item {
  border: 1px solid #ebedf0;
  padding: 16px 24px;
  margin-bottom: 15px;
  transition: all 0.2s linear;
}
.article-list-item a {
  color: #555;
}
.article-list-item:hover {
  background: #effbff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(2px, -10px, 0px);
}
.article-list-item:hover .el-divider__text {
  background: #effbff;
}
.article-list-item:hover .title {
  color: #48b2ff;
}
.article-list-item:hover .article-view {
  background: #effbff;
}
.article-title {
  text-align: center;
}
.el-divider__text.is-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 55px);
}
.article-title .title {
  color: #394d69;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
}
.article-title .post-time {
  font-size: 0.9em;
  padding-left: 20px;
}
.article-content {
  cursor: pointer;
  max-height: 260px;
  overflow: hidden;
}
.article-footer {
  vertical-align: middle;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.45);
  /* font-size: 1px; */
}
.article-pagination {
  float: right;
  margin: 30px 0;
}
.el-pagination {
  font-weight: 500;
}
.title li span {
  display: block;
  border-radius: 5px;
  padding: 8px 0 8px 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8590a6;
  font-size: 14px;
  transition: 0.5s;
  margin: 3px 3px 0 0;
}
.title li span:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #3742fa;
  border-radius: 6px;
  box-shadow: 3px 4px #DCC6E0;
}
.empty {
  margin-top: 50px;
  text-align: center;
}
.empty-text {
  margin: 0 8px;
  font-size: 18px;
  font-weight: 700;
  color: red;
}
.drawer {
  display: none;
  position: fixed;
  top: 90px;
  /* -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0.2, 0.3); */
  box-shadow: 2px 0 8px rgba(0, 0, 0, .3);
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 45px;
  background: #fff;
}

@media (max-width: 1200px) {
  .right {
    display: none;
  }
  .center {
    width: 100%;
  }
  .rightD {
    display: block;
    right: -1px;
    border-radius: 4px 0 0 4px;
  }
}

@media (max-width: 850px) {
  .leftD {
    display: block;
    left: -1px;
    border-radius: 0 4px 4px 0;
  }
}

@media (max-width: 321px) {
  .article-pagination {
    margin: 30px -22px 30px 0px;
  }
}